{% extends "utils/base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block page-title %}Password Reset{% endblock %}

{% block general-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/setup.css' %}">
{% endblock general-style %}

{% block wrapper-specific %}new-pass{% endblock %}

{% block body-content %}
<div id="container">
    <div id="wrapper">
      <div class="content-wrapper">
        <div class="page-content">
          <div class="welcome">
              <div class="welcome-nav-logo"><img src="{% static 'img/wallner-logo-vertical_1X.png' %}" width='' alt='Connected Cancer Care logo'></div>
          </div> <!-- welcome -->
          
          <h2>We've sent you a link to reset your password!</h2>
      		<p>We've emailed you a link to reset your password. <b>This link is only valid for 3 days.</b></p>
      		<p>If you have no received the email within 5 minutes:</p>
      		<ul>
      			<li>Make sure that you're using the email address you registered with</li>
      			<li>Check your spam folder</li>
      			<li>Add <b><a class="email-contact"href="mailto:support@CCCstudy.org">support@CCCstudy.org</a></b> to your list of approved senders and then request another password reset</li>
      		</ul>
      		<p>If you still have not received an email, please <a class="email-contact"href="mailto:support@CCCstudy.org">contact us.</a></p>
      
      		<div class="button-block">
      			<button class="btn btn-primary" type="submit" name="button" onclick="window.location.href='{% url 'login' %}'">Return to Sign In</button>
      		</div>
          
        </div> <!-- page content -->
      </div> <!-- content wrapper -->
    </div> <!-- wrapper -->
</div> <!-- container -->
{% endblock body-content %}