{% extends "utils/base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block page-title %}Password Reset{% endblock %}

{% block general-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/setup.css' %}">
{% endblock general-style %}

{% block wrapper-specific %}new-pass{% endblock %}

{% block content %}
<div id="container">
    <div id="wrapper">
     
        <div class="page-content">
          <div class="welcome">
          		<div class="welcome-nav-logo"><img src="{% static 'img/wallner-logo-vertical_1X.png' %}" width='' alt='Connected Cancer Care logo'></div>
          	</div>	
          <div class="content_box">
          		<h2>{% trans 'Request a new password' %}</h2>
          		<p>Please enter your email address for your new password request</p>
          		<form class="form" action="" method="post" accept-charset="utf-8">
          
          			{% csrf_token %}
          			{% for item in form %}
          				<div class="form-group">
          					{{ item }}
          				</div>	
          			{% endfor %}	
          	
          			<div class="button-block">
          				<button class="btn nav-button" type="submit" name="button">Submit</button>
          				<p><a class="btn btn-secondary" id="cancel_password_reset" href="javascript:history.back()">Cancel</a></p>
          			</div>
          		</form>
          	</div>
        </div>
        <!-- page-content -->
        
    </div>
    <!-- wrapper -->
  
</div>

	
{% endblock content %}