{% extends "utils/base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block page-title %}Enter New Password {% endblock %}

{% block general-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/setup.css' %}">
{% endblock general-style %}

{% block wrapper-specific %}new-pass{% endblock %}

{% block body-content %}

<div id="container">
    <div id="wrapper">
      <div class="content-wrapper">
        <div class="page-content">
          <div class="welcome">
          		<div class="welcome-nav-logo"><img src="{% static 'img/wallner-logo-vertical_1X.png' %}" width='' alt='Connected Cancer Care logo'></div>
          	</div>	

          	{% if validlink %}
          		<h2 class="title" >{% trans 'Enter new password' %}</h2>
          		<form class="form" action="" method="post" accept-charset="utf-8">
          			{% csrf_token %}
          			{{ form.as_p }}
          	
          			<div class="button-block">
          				<button class="btn btn-primary reset" type="submit" name="button">Submit</button>
          				<p><a class="btn btn-secondary" id="cancel_password_reset" href="{% url 'login' %}">Cancel</a></p>
          
          			</div>
          		</form>
          
          <!--
          		<div class="cancel-pass">
          			<a class="btn btn-secondary" id="cancel_password_reset" href="{% url 'login' %}">Cancel</a>
          		</div>
          -->
          	{% else %}
          		<h2 class="title" >{% trans 'Invalid link' %}</h2>
          		<div class="invalid-info">
          			<p>The password reset link was invalid, possibly because it has already been used or it is expired.</p>
          			<p class="new-request">Please request a new link:</p>
          
          			<div class="button-block">
          				<a class="btn btn-primary reset-again" href="{% url "reset_password" %}">Request New Link</a>
          			</div>
          		</div>
          	{% endif %}	
          
          	<div class="line"></div>
        </div>
        <!-- page-content -->
        
      </div>
      <!-- content wrapper -->
    </div>
    <!-- wrapper -->


{% endblock body-content %}

</div> <!-- container -->