{% extends "utils/base.html" %}
{% load staticfiles %}

{% block body-content %}
<div id="container">
    <div id="wrapper">
      <div class="content-wrapper">
        <div class="page-content">
          <div class="welcome">
              <div class="welcome-nav-logo"><img src="{% static 'img/wallner-logo-vertical_1X.png' %}" width='' alt='Connected Cancer Care logo'></div>
          </div> <!-- welcome -->
          
          <p>
		    Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
		  </p>
          
        </div> <!-- page content -->
      </div> <!-- content wrapper -->
    </div> <!-- wrapper -->
</div> <!-- container -->
{% endblock body-content %}